.Fab{
 color: black ,;
 background-color: #C0AA81,
}
.b_data_container{
    place-items: top;
      display: flex;
    gap: 6rem;
    align-items: center;
    text-align: right;
    align-items: center;
    justify-content: right;
    padding: 20px; }